:root {
    font-size: 12.8px; 
}
.containers {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.containers .rows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}

.lead-cont {
    position: relative;
}

.lead {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    padding-bottom: 15px;
}

.lead::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    left: 25%;
    right: 30%;
    padding: 2px;
    background-color: #c56161;
}

.container1 {
    width: 25rem; 
    height: 25rem;
    margin: 20px auto;
    background: #ffffff;
    font-family: verdana;
    overflow: hidden;
}

.red {
    width: 21rem; 
    height: 5rem; 
    background: #e10029;
    position: relative;
    left: 20rem; 
    transition: transform 1.8s ease-in-out;
}

.red-expand {
    transform: translateX(-42rem); 
}

.green {
    width: 5rem; 
    height: 21rem; 
    position: relative;
    top: -21rem;
    background: #bb9696;
    transition: transform 1.8s ease-in-out;
}

.green-expand {
    transform: translateY(42rem); 
}

.yellow {
    width: 21rem; 
    height: 5rem; 
    background: #d25458;
    position: relative;
    top: -6rem; 
    left: -16rem; 
    transition: transform 1.8s ease-in-out;
}

.yellow-expand {
    transform: translateX(42rem); 
}

.blue {
    width: 5rem; 
    height: 21rem; 
    background: #dac4ce;
    position: relative;
    top: -11rem; 
    left: 20rem; 
    transition: transform 1.8s ease-in-out;
}

.blue-expand {
    transform: translateY(-42rem); 
}

.text {
    width: 14rem;
    height: 14rem; 
    border: 0.1rem solid #999; 
    border-radius: 0.25rem; 
    position: relative;
    top: -46.5rem; 
    left: 5.5rem; 
    text-align: center;
    line-height: 2;
}

hr {
    width: 100%;
}

.click-btn1 {
    padding: 0.4rem 0.8rem; 
    font-size: 0.9rem; 
    background-color: #b92727;
    color: #ddd;
    border: 0.05rem solid transparent; 
    border-radius: 0.25rem; 
    font-weight: 500;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0.05rem 0.5rem rgba(0, 0, 0, 0.3); 
    margin: 1rem; 
    transition: 0.32s; 
}

.card {
    width: 13rem; 
    height: 13rem;
    margin: 0.40rem; 
    border-radius: 0.24em; 
    background-color: #841126;
    transition: 0.24s; 
    cursor: pointer;
    transform-style: preserve-3d;
}

.card_content,
.card_back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #841126;
    box-shadow: 0.05rem 0.05rem 0.15rem rgba(0, 0, 0, 0.25),0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2); 
    border-radius: 0.24em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem; 
    padding-top: 0.4rem; 
    color: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.card_content {
    transform: rotateY(0deg);
}

.card_back {
    transform: rotateY(180deg); 
    transform-origin: center;
    backface-visibility: hidden;
}

.card_content::before {
    content: "?";
    font-size: 6.25rem; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    transition: opacity 0.24s ease-in-out; 
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card_content {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.card_back {
    transform: rotateY(180deg);
    transform-origin: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card.discovered .card_content::before {
    opacity: 0;
}

.card.discovered {
    transform: rotateY(180deg);
}

.rows section.right {
    border: 2px solid #d6d6d6;
    border-radius: 15px;
}

.index-desc {
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 20px;
    padding-top: 30px;
    font-size: 1.1rem;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    :root {
        font-size: 14.4px; 
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    :root {
        font-size: 15.36px; 
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    :root {
        font-size: 17.28px; 
    }
}

@media only screen and (min-width: 1201px) {
    :root {
        font-size: 18.432px; 
    }
}

@media(max-width: 900px) {
    .containers .rows {
        flex-wrap: wrap;
    }
    .rows section.left, .rows section.right {
        flex-basis: 100%;
        margin: 0px;
    }
}