:root {
    --bg: #fafafa;
    --font: "Archivo", sans-serif;
    --font-display: "Archivo Narrow", sans-serif;
    --hotpink: #d5253d;
    --orange: #d16f33;
    --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
    }
    body {
    min-height: 100vh;
    background: var(--bg);
    font-family: var(--font);
    }
    